<h1>Try Heroku</h1>
<div class="box">
	<% @posts.each do |p| %>
	<h2 class="title"><%= p.title %></h2>
	<p class="title"><%= p.body %></p>
	

<h2>Komentar</h2>	
<% p.komens.each do |c| %>
<p><%= c.gambar %></p>
<br>
<p><%= c.email %> : <%= c.isi_komen %></p>

<% end %>

<form action="<%= post_komen_path(p.id) %>" method="POST" >
<input type="text" name="isi_dari_email" placeholder="email">
<input type="text" name="isi_dari_komentar" placeholder="komentar">
<input type="file" placeholder="gambar" name="isi_dari_gambar"><br><br>
<input type="submit" class="btn btn-success">

</form>

<% end %>
</div>
